*{
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    animation: fadeInZoom 1.5s ease-in-out;
}
@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
header img{
    width: 150px;
    height:auto;
    border-radius: 50%;
    display: flex;
    margin: 40px auto;
    box-shadow: 0 0 10px black;
    transition: 0.5s ease-out;
    cursor: pointer;
}
header img:hover{
    transition: 0.5s ease-in-out;
    transform: rotate(360deg);
}
header{
    background-image: url(/src/image/img3.jpg);
    background-size: cover;
    backdrop-filter: blur(300px);
    box-shadow: 0 0 10px black;
    text-align: center;
    padding: 20px;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.link a{
    text-decoration: none;
    margin-top: 20px;
    color: black;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    padding: 13px 20px;
    border-radius: 20px;
    border: 1px solid black;
    transition: 0.3s;
}
header a {
    position: relative;
    text-decoration: none;
    color: blue;
    font-weight: bold;
  }
  
 header a:hover::after {
    content: attr(title);
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
  }
  
 header a:hover::after {
    opacity: 1;
    visibility: visible;
  }
.link a:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid white;
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.about{
    text-align: center;
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: 15px ;
    animation: fadeInZoom 1.5s ease-in-out;
    transition: 0.3s;
}
.about:hover{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.473);
    cursor: pointer;
    transition:  0.5s ease-in-out;
    transform: scale(1.01);
}
.about:hover::after{
    content: "About Me";
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffeb3b;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: not-allowed;
    animation: fadeInZoom 1.5s ease-in-out;
}

.education{
    text-align: center
    ;
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: 15px ;
    animation: fadeInZoom 1.5s ease-in-out;
}
.education h1{
    text-align: center;
    margin: 10px;
}
.education:hover{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.473);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: scale(1.01);
}
.education:hover::after{
    content: "Education";
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffeb3b;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: not-allowed;
}


.footer {
    background-color: #f8f8f8;
    padding: 30px 0;
    font-family: Arial, sans-serif;
    width: 100%; 
    box-sizing: border-box; 
}

.buttom {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    margin-left: auto;
    
}




footer {
    background: #dfdfdfd2;
    color: black;
    padding: 20px 10px;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    gap: 20px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
}

.contact a {
    color: #0af;
    text-decoration: none;
}

.social-icons a {
    color: black;
    font-size: 24px;
    margin: 0 10px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #0af;
}
.buttom-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    margin-left: auto;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}

.skill{
    text-align: center;
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: 15px ;
    animation: fadeInZoom 1.5s ease-in-out;
}
.skill:hover{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.473);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: scale(1.01);
}
.skill li{
    text-align: left;
    display: inline-block;
    display: column;
    list-style: none;
    border: 1px solid black;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 30px;
    animation: skill 1s ease;
    transition: 0.3s;
    cursor: not-allowed;
}
.skill li:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}
.skill:hover::after{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.473);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: scale(1.01);
}
.image img{
    width: 150px;
    height:auto;
    border-radius: 50%;
    margin: 40px auto;
    justify-content: center;
}
.images{
    display: flex;
    overflow-X: scroll;
    gap: 20px;
    
}
.image{
    text-align: center;
    max-width: 100%;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}
.image img:hover{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.178);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
    border: 2px solid #000;
    background-size: cover;
}
.image:hover{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.178);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: scale(1.01);
}
.project{
    text-align: center;
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: 15px ;
    animation: fadeInZoom 1.5s ease-in-out;
}
.project:hover{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.473);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: scale(1.01);
}
.project a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    gap: 15px;
    color: black;
    background-color: white;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.3s;
}
.project a:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    border: 2px solid white;
}
.service{
    text-align: center;
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: 15px ;
    animation: fadeInZoom 1.5s ease-in-out;
}
.service:hover{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.473);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: scale(1.01);
}
.service ul li{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    gap: 15px;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.3s;
}
.service ul li:hover{
    color: black;
    transform: scale(1.05);
    text-shadow: 0 0 10px black;
}
.service button{
    box-shadow: 0 0 10px;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px;
}
.service a{
    text-decoration: none;
    color: black;
}